/* global styles */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins',sans-serif;
}

a{
    text-decoration: none;
    color: lightgray;
}


/* standardized font format */
/* html{
    font-size: 62.5%;
}
h1 {
    font-size: 2.6rem;
}
li,
button,
label,
input,
p {
    font-size: 2rem;
}
h2 {
    font-size: 2rem;
}
h3{
    font-size: 4.8rem;
}
h4,h5{
    font-size: 2.8rem;
} */



/* header navigation */
.headerNavigation{
    background-color: #01334b;
    color: #e8e8e8;
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerNavigation nav{
    display: flex;
    min-width: 90vw
}
.headerNavigation nav  ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    flex: 1 1 40rem;
    font-family: 'Pattaya';
}

/* This is Nav the format for iPhone size */
@media screen and (max-width: 375px){
    .headerNavigation nav{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: .5rem 0rem;
    }
}

/* Top picture with waterfall */
.hero{
    background-image: linear-gradient(rgba(0,0,0,.4), transparent),url('/img/landing-page.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightgray;
}
.hero h2{
    margin: 1rem;
}

.hero button{
   padding: 1rem;
   background-color: transparent; 
   border-radius: 12px;
   border: none;
   font-weight: 500;
   color: rgb(185, 105, 0);
   outline: none; 
   border: 2px solid rgb(185, 105, 0);
   margin: 2rem;
}


/* Benefits Section */
#locations{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),transparent), url('/img/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head{
    width: 90vw;
    margin: auto;
}

.locations-head h2{
    font-weight: bolder;
    margin-bottom: 1rem;
}

.cloud{
    position: absolute;
    top: 0%;
    right: 0%;
    pointer-events: none;
}
.moving-cloud1{
    animation: cloudAnimation 15s infinite alternate ease-in-out;
}
.moving-cloud2{
    top:10%;
    z-index: -1;
    opacity: .7; 
    animation: cloudAnimation2 15s infinite alternate ease-in-out;
}


@keyframes cloudAnimation{
    from {
       transform: translate(10%, -10%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

@keyframes cloudAnimation2{
    from {
        transform: translate(0%, -7%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

@medio screen and (max-width: 932px){
    html {
        font-size: 45%
    }
    nav {
        text-align: center;
    }
    #Logo {
        padding: 2rem;
    }
    .cloud{
        height: 40rem;
    }
    .moving-cloud1{
        z-index: -10;
    }
    .moving-cloud2{
        z-index: -20;
    }
    
}


/* Benefits */
.benefits-head{
    background-color: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8e8e8;
    text-align: center;

}
.benefits-head h3{
    padding: 1rem;
}

.cards{
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.card{
    background-color: #01334b;
    flex: 5 1 13rem;
    margin: 2rem 2rem;
    min-height: 15rem;
    border-radius: 12px;
    text-align: center;
    color: #e8e8e8;

}
.card-icon{

    background-color: #99a8b2;
    border-radius: 12px 12px 0px 0px;
}
.card h4{
    font-weight: bolder;
    font-size: large;
    padding: 1rem;
}
.cards img{
    height: 100px
}
/* Particle Background */
#particles-js{
    position: absolute;
    background-color: black;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -5;
}


/* Contact */
#contact{
    min-height: 100vh;
    background-image: url('/img/NightCity.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    background-color: rgba(232,232,232,.8);
    width: 40%;
    border-radius: 12px;
}

.form-head{
    text-align: center;
    padding: 1rem;
}
.form-head, .form-wrapper{
    text-align: center;
    padding: 1rem;
}
.name-form, .email-form{
    margin: .25rem 0rem;
}
#contact button{
   margin-top: .75rem;
   width: 100%;
   padding: 1rem;
   background-color: transparent; 
   border-radius: 12px;
   border: none;
   font-weight: 500;
   color: rgb(185, 105, 0);
   outline: none; 
   border: 2px solid rgb(185, 105, 0);
}

/* Footer */
footer{
    color: #e8e8e8;
    background-color: rgba(0,0,0,.4);
}
footer .footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul a{
    padding: 0rem 1rem;
}